body {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  margin: 0;
  color: white;
  text-decoration:none;
}

.nav-links{
  display: flex;
  gap: 2rem;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
  transform: 1.05;
  color: #e6e6e6;
}

.nav-links:hover {
  transform: scale(1.05);
  color: #e6e6e6;
}
.nav-links a {
  text-decoration: none;
  color: inherit;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-toggle img {
  width: 12px;
  height: 12px;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

.hi-i-am {
  margin: 0;
}

.hi-i-am-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 90%;
  font-weight: 400;
  font-family: inherit;
}

.a-kenya-based {
  position: relative;
  font-size: 18px;
  line-height: 150%;
  color: #c7c7c7;
}

.a-passion-based {
  position: relative;
  font-size: 18px;
  line-height: 150%;
  font-family: sans-serif;
  color: #c7c7c7;
}

.header-and-sub-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.title {
  position: relative;
  font-size: 16px;
  line-height: 100%;
  color: #0a0a0a;
  text-align: left;
}

.circle-icon {
  width: 42px;
  position: relative;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
}

.button8 {
  cursor: pointer;
  border: none;
  padding: 20px 6px 20px 24px;
  background-color: #d3e97a;
  height: 54px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 12px;
}

.title1 {
  position: relative;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}

.line {
  height: 2px;
  position: relative;
  border-top: 2px solid #d3e97a;
  box-sizing: border-box;
}

.title-parent {
  height: 20px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.linkedin {
  height: 60px;
  width: 60px;
  position: relative;
  overflow: hidden;
  margin-left: -10px;
  top: -12px;
}

.linkedin2 {
  height: 100px;
  width: 100px;
  position: relative;
  overflow: hidden;
  margin-left: -15px;
  top: -22px;
}

.social-icons {
  border-radius: 100px;
  background-color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px;
  transition: all 0.3s ease-in-out;
}

.social-icons:hover {
  background-color: #444;
  transform: scale(1.1);
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
  font-size: 16px;
  color: #d3e97a;
}

.hero-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 22px;
  box-sizing: border-box;
  gap: 40px;
  max-width: 100%;
}

.main-content {
  width: 544px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 160px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}

.bg {
  height: 700px;
  width: 600px;
  position: relative;
  border-radius: 16px;
  background-color: #c7c7c7;
  display: none;
  max-width: 100%;
}

.potrait-icon {
  height: 663px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}

.image {
  flex: 1;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 37px 0 0;
  box-sizing: border-box;
  min-width: 390px;
  max-width: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  max-width: 100%;
}

.content-container-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}

.frame-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #484848;
  box-sizing: border-box;
}

.featured-projects {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}

.projects-header {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  max-width: 100%;
}

.conceptual-work {
  height: 21px;
  width: 114px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}

.tag {
  width: 145px;
  height: 37px;
  border-radius: 100px;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 16px;
  box-sizing: border-box;
  z-index: 2;
}

.work-icon {
  height: 400px;
  width: 510px;
  position: relative;
  border-radius: 12px;
  object-fit: cover;
  left: -10px;
}

.card-image-container {
  width: 527px;
  height: 347px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 41px;
  box-sizing: border-box;
}

.card {
  height: 600px;
  width: 600px;
  border-radius: 12px;
  background-color: #1a1a1a;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 127px;
  box-sizing: border-box;
  gap: 73px;
}

.project-card {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.description {
  position: relative;
  font-size: 18px;
  line-height: 150%;
  color: #c7c7c7;
}

.title-and-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.title3 {
  position: relative;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 600;
}

.topic {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}

.value {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  color: #c7c7c7;
}

.client {
  align-self: stretch;
  border-top: 1px solid #484848;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0 16px;
  gap: 20px;
}

.topic1 {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 34px;
}

.value1 {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  color: #c7c7c7;
}

.year {
  align-self: stretch;
  border-top: 1px solid #484848;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0 16px;
  gap: 20px;
}

.topic2 {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 35px;
}

.list {
  align-self: stretch;
  border-bottom: 1px solid #484848;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.project-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 16px;
}

.information {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}

.title4 {
  position: relative;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 84px;
  color: #d3e97a;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 11px;
  padding-bottom: 8px;
}
.title4:hover {
  color: #b8cc5e;
}
.title-and-arrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.underline {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid #d3e97a;
  box-sizing: border-box;
}

.view-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0;
  gap: 4px;
}

.title5 {
  position: relative;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 120px;
  color: #d3e97a;
}
.title5:hover {
  color: #b8cc5e;
}

.view-project1 {
  height: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0;
  box-sizing: border-box;
  gap: 4px;
}

.project-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 16px;
  color: #d3e97a;
}

.project-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
}

.card-content {
  width: 576px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 60px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 32px;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
  max-width: 100%;
  font-size: 14px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  max-width: 100%;
}

.projects-container-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 40px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: 76px;
}

.image-10-icon {
  position: absolute;
  top: 120px;
  left: 50px;
  border-radius: 20px;
  width: 500px;
  height: 347px;
  object-fit: cover;
}

.project-image {
  height: 600px;
  flex: 1;
  position: relative;
  border-radius: 12px;
  background-color: #1a1a1a;
  overflow: hidden;
  min-width: 390px;
  max-width: 100%;
}

.title6 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 500;
  font-family: inherit;
}

.description1 {
  position: relative;
  font-size: 18px;
  line-height: 150%;
  color: #c7c7c7;
  white-space: pre-wrap;
  left: -0px;
}

.topic3 {
  position: relative;
  line-height: 160%;
  font-weight: 500;
}

.title8 {
  position: relative;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 116px;
  color: #d3e97a;
}
.title8:hover {
  color: #b8cc5e;
}
.view-project2 {
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0;
  box-sizing: border-box;
  gap: 4px;
  font-size: 16px;
  color: #d3e97a;
}

.card-content-container {
  width: 576px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 54.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}

.card-container {
  width: 1224px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  max-width: 100%;
}

.project-card-two {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 40px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: 32px;
}

.challenge-label {
  border-radius: 100px;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 15px 8px 16px;
}

.image-9-icon {
  height: 306px;
  flex: 1;
  position: relative;
  border-radius: 12px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.image-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 40px;
  box-sizing: border-box;
  max-width: 100%;
}

.project-image1 {
  flex: 1;
  border-radius: 12px;
  background-color: #1a1a1a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 147px;
  box-sizing: border-box;
  gap: 94px;
  min-width: 390px;
  max-width: 100%;
}

.third-card-content {
  width: 576px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 96px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 32px;
}

.third-card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  max-width: 100%;
}

.project-card-three {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: 14px;
}

.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 50px;
  box-sizing: border-box;
  gap: 80px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 101px;
  color: #fff;
}

.home-child {
  width: calc(100% + 1px);
  height: 1px;
  position: absolute;
  margin: 0;
  right: -1px;
  bottom: 745px;
  left: 0;
  border-top: 1px solid #484848;
  box-sizing: border-box;
}

.separator {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 1px solid #484848;
  box-sizing: border-box;
  max-width: 100%;
}

.separator-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 92px;
  box-sizing: border-box;
  max-width: 100%;
}

.about-me {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 90%;
  font-weight: 400;
  font-family: inherit;
}

.i-am-a {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 500;
  font-family: inherit;
}

.title13 {
  position: relative;
  line-height: 15px;
  text-transform: uppercase;
}

.skill-highlight {
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 2px;
  box-sizing: border-box;
  gap: 4px;
  font-size: 16px;
  color: #d3e97a;
}

.about-content {
  width: 704px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 53px;
  max-width: 100%;
  font-size: 32px;
}

.about-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}

.lets-connect {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}

.mail {
  position: relative;
  line-height: 150%;
}

.email-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0;
  color:  #d3e97a
}

.info-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}

.location-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d3e97a;
  box-sizing: border-box;
}

.location-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0;
  color:  #d3e97a
}

.info-item1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 18px;
  color: #c7c7c7;
}

.bxl-instagramsvg-icon {
  height: 25px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 1;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.contact-column {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.Ansh-Patel3 {
  position: relative;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
  color: #c7c7c7;
}

.contact-columns {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 390px;
  min-height: 611px;
  max-width: 100%;
}

.description6 {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 45px;
}

.name-placeholder {
  width: 600px;
  border: none;
  outline: none;
  background-color: #1a1a1a;
  align-self: stretch;
  height: 51px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 16px;
  box-sizing: border-box;
  font-size: 18px;
  color: #fff;
  min-width: 250px;
}

.description7 {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 42px;
}

.p {
  margin-block-start: 0;
  margin-block-end: 8px;
  white-space: pre-wrap;
}

.blank-line {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.text {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}

.degree-placeholder {
  align-self: stretch;
  flex: 1;
  border-radius: 4px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 20px;
  font-size: 18px;
  color: #fff;
}

.education-item {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.experience-item-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.button9 {
  cursor: pointer;
  border: none;
  padding: 19px 39px;
  background-color: #d3e97a;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button9:hover {
  background-color: #bacf61;
}

.frame-group {
  align-self: stretch;
  height: 611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.contact-columns1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 390px;
  max-width: 100%;
  font-size: 16px;
  color: #c7c7c7;
}

.contact-columns-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 80px 0;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
  z-index: 1;
  font-size: 76px;
}

.content-wrapper {
  width: 1224px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 389px;
  max-width: 100%;
}

.content-wrapper-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 101px;
  color: #fff;
}

.home {
  position: relative;
  background-color: #0a0a0a;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .project-card {
    flex: 1;
  }

  .card-content {
    flex: 1;
  }

  .projects-grid {
    flex-wrap: wrap;
  }

  .frame-parent {
    padding-bottom: 21px;
    box-sizing: border-box;
  }

  .about-content {
    flex: 1;
  }

  .about-header {
    flex-wrap: wrap;
  }

  .content-wrapper {
    gap: 194px;
  }
}

@media screen and (max-width: 1050px) {
  .hi-i-am-container {
    font-size: 50px;
    line-height: 55px;
  }

  .main-content {
    flex: 1;
  }

  .content-container {
    flex-wrap: wrap;
  }

  .featured-projects {
    font-size: 61px;
    line-height: 61px;
  }

  .title6 {
    font-size: 26px;
    line-height: 36px;
  }

  .card-content-container {
    flex: 1;
  }

  .card-container {
    flex-wrap: wrap;
  }

  .third-card-content {
    flex: 1;
  }

  .third-card-container {
    flex-wrap: wrap;
  }

  .frame-parent {
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .about-me {
    font-size: 50px;
    line-height: 55px;
  }

  .i-am-a {
    font-size: 26px;
    line-height: 36px;
  }

  .about-content {
    min-width: 100%;
  }

  .lets-connect {
    font-size: 61px;
    line-height: 61px;
  }

  .contact-columns {
    min-height: auto;
  }

  .contact-columns-parent {
    flex-wrap: wrap;
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 750px) {
  .navigation {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .navigation1 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .hero-content {
    gap: 20px;
  }

  .main-content {
    padding-top: 104px;
    box-sizing: border-box;
    min-width: 100%;
  }

  .image {
    min-width: 100%;
  }

  .content-container {
    gap: 40px;
  }

  .project-card {
    min-width: 100%;
  }

  .information {
    gap: 16px;
  }

  .project-content {
    gap: 24px;
  }

  .card-content {
    padding-top: 39px;
    box-sizing: border-box;
    min-width: 100%;
  }

  .projects-grid {
    gap: 24px;
  }

  .projects-container {
    gap: 40px;
  }

  .project-image {
    min-width: 100%;
  }

  .card-content-container {
    padding-top: 35px;
    box-sizing: border-box;
    min-width: 100%;
  }

  .card-container {
    gap: 24px;
  }

  .project-image1 {
    gap: 47px;
    padding-top: 20px;
    padding-bottom: 96px;
    box-sizing: border-box;
    min-width: 100%;
  }

  .third-card-content {
    padding-top: 62px;
    box-sizing: border-box;
    min-width: 100%;
  }

  .third-card-container {
    gap: 24px;
  }

  .frame-parent {
    gap: 40px;
  }

  .about-content {
    gap: 26px;
  }

  .contact-column {
    gap: 20px;
  }

  .contact-columns {
    min-width: 100%;
  }

  .frame-group {
    gap: 20px;
  }

  .contact-columns1 {
    gap: 24px;
    min-width: 100%;
  }

  .content-wrapper {
    gap: 97px;
  }
}

@media screen and (max-width: 450px) {
  .hi-i-am-container {
    font-size: 30px;
    line-height: 36px;
  }

  .content-container {
    gap: 20px;
  }

  .featured-projects {
    font-size: 46px;
    line-height: 46px;
  }

  .projects-container {
    gap: 20px;
  }

  .title6 {
    font-size: 19px;
    line-height: 27px;
  }

  .project-image1 {
    gap: 23px;
  }

  .frame-parent {
    gap: 20px;
  }

  .about-me {
    font-size: 30px;
    line-height: 36px;
  }

  .i-am-a {
    font-size: 19px;
    line-height: 27px;
  }

  .lets-connect {
    font-size: 46px;
    line-height: 46px;
  }

  .contact-columns-parent {
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }

  .content-wrapper {
    gap: 49px;
  }
}
.title13{
  color:#d3e97a;
}
.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background:white;
  margin: 5px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  
  .menu-items {
    display: none;
    width: 100%;
    text-align: center;
  }
  
  .menu-items.active {
    display: block;
  }
  
  .menu-items a {
    display: block;
    padding: 10px;
  }
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.degree-placeholder {
  min-height: 100px;
  width: 100%;
  padding: 8px;
}